body{
    background-color: rgb(231, 252, 255);
}
.container{
    background-color: bisque;
    border-radius: 8px;
    padding: 4rem;
    width: 350rem;
}
.col{
    position:relative;
    width: 48%;
    height: 12rem;
    border-radius:8px;
    border-width: 1.5px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(234, 255, 252);
    transition: box-shadow 0.6s;
}
.col:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.bi-boxes{
    position:relative;
    font-size: 28px;
    margin:0 8px 0px 4px;
    top: 3px;
}
.description{
    font-size: 14px;
    margin: 10px 0 0 42px;
}
.col a{
    font-size: 18px;
    color: rgb(85, 141, 190);
    text-decoration:none;
}
.col a:hover{
    color: rgb(30, 76, 116);
}
.col a:visited{
    color: rgb(2, 10, 17);
}

.languages{
    font-size: 12px;
    position:absolute;
    bottom: 10px;
    color: brown;
    margin-left:6px;
    text-align: center;
}
.languages span{
    font-size: 14px;
    margin-left: 5px;
    color: rgb(34, 34, 34);
}
.badge{
    position: absolute;
    bottom: 45px;
    background-color: rgba(177, 217, 255, 0.685) !important;
    transition-duration: 0.3s;
}
.badge:hover{
    cursor: pointer;
    background-color: rgb(140, 174, 206) !important;
}
i{
    font-style: normal;
}